{% extends 'base.html' %}
{% block content %}

<h1>Medication Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ med.name }}</span>
        <p>Quantity: {{ med.quantity }}</p>
        <p>Perscribed: {{ med.perscribed }}</p>
        <p>expiration: {{ med.expiration }}</p>
        <p>instructions: {{ med.instructions }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'meds_update' med.id %}">Edit</a>
        <a href="{% url 'meds_delete' med.id %}">Delete</a>
      </div>
</div>

{% endblock %}